!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "n95JHS9RkRBn-xRv0H-Zd7yFNfd3Ellrl9QC8u3V2ac", :name => "google-site-verification"}
    %title= current_resource.data.title
    = favicon_tag 'images/favicon.png'
    = stylesheet_link_tag "style"
    = javascript_include_tag "modernizr"
  %body{:class => page_classes}
    = partial :header
    .row.padding.padding-top
      .small-12.column
        .float-left
          %h1.large-text= current_resource.data.title
        .float-right
          %h2.large-text= current_resource.data.tags
    .row
      .small-12.medium-6.large-4.column
        %p.small-text
          = yield
      - current_resource.data.images.each do |image|
        .small-12.medium-6.large-8.column
          .float-left=image_tag (image)
    = partial :contact
  = javascript_include_tag  "all"